
/*La navbar*/
.nav-link{
	margin-right: 1em;
	font-size: 20px;
	font-weight: lighter;
}
.iconhovering:hover{
	filter: invert(65%) sepia(44%) saturate(3254%) hue-rotate(315deg) brightness(102%) contrast(101%);
}
.navbar-dark{
	background-color: #1D1D1D;
}


/*couleur du background*/
body{
	background-color:lightgrey;
}



/*taille images du carousel*/
.carousel-item{
	max-height: 450px;
}





/*le titre Qui sommes nous ?*/
h2{
	display: flex;
	justify-content:center;
	align-items:center;
	margin-bottom: 1em;
	font-size: 32px;
}
/*le texte juste en dessous*/

.lighth4{
	font-weight: lighter;
}









/*disposition des cases sur le site*/
.row{
	margin: 5em 5em;
	display: flex;
	justify-content:center;
}

/*taille de la police d'ecriture dans les cartes*/
.card-title{
	font-size: 20px;
}

/*placement du contenu des cartes*/
.card-body{
	display: flex;

	flex-direction:column;
	justify-content:center;
	justify-content:space-between;
	align-items:center;
}

/*paramètres des photos dans les cartes*/
.card-img-top{
	border-radius: 50%;
	max-width: 200px;
}




/*page sur la tour*/
/*TEST*/

/*.container {
  position: relative;
  text-align: center;
  color: white;
}*/
/*.container {
  position: relative;
}
.text-block {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}*/





/*le footer pas encore fait*/
.footer{
	background-color: #1D1D1D;
	text-decoration-color: white;
}